/* ==========================================================================
   Content
   ========================================================================== */
   
/* ==========================================================================
   Textformatting
   ========================================================================== */
 
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1.714285714rem 0;
	clear: both;
    color: #224288;
}

h1 {
	font-size: 1.5rem;
	line-height: 1.5;
}

h2 {
	font-size: 1.285714286rem;
	line-height: 1.6;
}

h3 {
	font-size: 1.142857143rem;
	line-height: 1.846153846;
}

h4 {
	font-size: 1rem;
	line-height: 1.846153846;
}

h5 {
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}

h6 {
	font-size: 0.857142857rem;
	line-height: 1.846153846;
}

abbr[title] {
	border-bottom:1px dotted;
}

p {
	margin: 1rem 0;
	line-height: 1.4rem
}

em,
i {
	font-style:italic;
}

b,
strong {
	font-weight:bold;
}

blockquote {
	margin:1rem 40px;
	font-style:italic;
}
blockquote {}
cite {}

dfn {
	font-style:italic;
}

mark {
	background:#ff0;
	color:#000;
}

code,
kbd,
pre,
samp {
	font-family:monospace, serif;
	_font-family:'courier new', monospace;
	font-size:1rem;
}

pre {
	margin:1rem 0;
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
}

q {
	quotes:none;
}

q:before,
q:after {
	content:'';
	content:none;
}

small {
	font-size:70%;
}

sub,
sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}

sup {
	top:-0.5em;
}

sub {
	bottom:-0.25em;
}







/* ==========================================================================
   Lists
   ========================================================================== */
dl,
menu,
ol,
ul {
	margin:1rem 0;
}
dd {
	margin:0 0 0 40px;
}
menu,
ol,
ul {
	padding:0 0 0 40px;
}
nav ul,
nav ol {
	list-style:none;
	list-style-image:none;
}
ul {
	list-style:none outside;
}
ol {
list-style:outside decimal;
}
ul.square,
ul.circle,
ul.disc {
margin-left:1.5rem;
}
ul.square {list-style:square outside;}
ul.circle {list-style:circle outside;}
ul.disc {list-style:disc outside;}
ul ul, ol ol {margin:1rem 0 1.5rem 1.5rem;}
li {margin-bottom:0.9rem;}
ul.large li {line-height:1.7rem;}
dl {margin:0 0 1.5rem 0;}
dt {font-weight:bold;}
dd {margin-left:1.5rem;}


/* ==========================================================================
   Tables
   ========================================================================== */
table{border-collapse:collapse;border-spacing:0;margin:0;width:100%;overflow:hidden;}
thead th{padding:.5em .4em;text-align:left;}
thead td{}
tbody td{padding:.5em .4em;}
tbody tr{padding-left:10px;}
tbody .alt td{}
tbody .alt th{}
tfoot th{}
tfoot td{}


/* ==========================================================================
   Hr
   ========================================================================== */
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1rem 0;padding:0;}


/* ==========================================================================
   Images and figures
   ========================================================================== */
img, object{height:auto;max-width:100%;}
img {
border:0;
-ms-interpolation-mode:bicubic;
vertical-align:middle;
}
figure {
margin:0;
}

fieldset{border:0;margin:0;padding:0;}


/* ==========================================================================
   Link Styles
   ========================================================================== */
a:focus{
	outline:thin dotted;
}
a:active,
a:hover{
	outline:0;
}
a:link, a:hover {
	color: #575759;
	text-decoration: underline;
}
a:visited {
	color: #575759;
}


/* ==========================================================================
   Wordpress Built in classes
   ========================================================================== */
/* Responsive images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
	max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important; /* Override the Twitter embed fixed width */
}
/* Images */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.entry-content img,
.widget img,
.author-avatar img,
img.wp-post-image {
	/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.wp-caption {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 4px;
}
.wp-caption .wp-caption-text,
.entry-content .gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #757575;
	margin: 0;
}
.entry-content 
img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.alignnone {
	margin:5px 1.2rem 1.2rem 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 1.2rem 1.2rem;
	clear: right;
}
.alignleft {
	float:left;
	margin:5px 1.2rem 1.2rem 0;
}
a img.alignright {
	float:right;
}
a img.alignnone {
	margin:5px 1.2rem 1.2rem 0;
}
a img.alignleft {
	float:left;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
	clear: right;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption p.wp-caption-text {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.breadcrumbs {
	width:98.0%;
	margin: 0 1%
}
.breadcrumbs span {}
.pagination {
	width:98.0%;
	margin: 0 1%
}

.space_top {
	margin-top: 20px;
}
.sticky {}
.bypostauthor {}


/* ==========================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35rem 0.625rem 0.75rem;
}

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
	width: 15px;
	margin: 0 1rem;
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
	resize:vertical;
    line-height: 150%; 
}
/* Styling */
form input, form textarea, form input[type="password"], select {  
    padding: 9px;  
    border: solid 1px #E5E5E5;  
    outline: 0;  
    font: normal 13px/100% Verdana, Tahoma, sans-serif;  
    width: 90%; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	clear: both;
	color: #666;
}
input[type="password"]:hover,
input[type="password"]:focus,
input:hover,
input:focus,
textarea:hover,
textarea:focus {  
    border-color: #C9C9C9;  
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;  
}
/* Buttons */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    
}
/* Label */
label { 
    color: #666; 
	clear: both;
	display:block;
	padding: 0.5rem 0;
	font-size:0.75rem;
}


/* ==========================================================================
   Location specific styles eg: ".featured-slider .ribbon h1 {}"
   ========================================================================== */
 

